name: BoostSecurity SBOM for Hackaton
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize

jobs:
  boost-sbom:
    name: SBOM diff
    runs-on: ubuntu-latest
    env:
      BOOST_SCANNER_REGISTRY_REPO_DEV: https://github.com/boostsecurityio/scanner-testing/
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Upload SBOM from Trivy
        uses: boostsecurityio/boostsec-scanner-github@v4
        with:
          api_endpoint: https://api.dev.boostsec.io
          api_token: ${{ secrets.BOOST_API_TOKEN }}
          cli_version: 1.0.0.rc107
          registry_module: boostsecurityio/trivy-sbom-hackaton
